/* Defaults */
:root {
	--font-family: -apple-system, system-ui, sans-serif;
	--font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New, Courier, monospace;
}

/* Theme colors */
:root {
	--color-gray-20: #e0e0e0;
	--color-gray-50: #C0C0C0;
	--color-gray-90: #333;

	--background-color: #fff;

	--text-color: var(--color-gray-90);
	--text-color-link: #082840;
	--text-color-link-active: #5f2b48;
	--text-color-link-visited: #17050F;

	--accent-color: rgb(186, 187, 241);
	--accent-color2: rgb(203, 189, 218);

	--syntax-tab-size: 2;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-gray-20: #e0e0e0;
		--color-gray-50: #C0C0C0;
		--color-gray-90: #dad8d8;

		/* --text-color is assigned to --color-gray-_ above */
		--text-color-link: #1493fb;
		--text-color-link-active: #6969f7;
		--text-color-link-visited: #a6a6f8;

		--background-color: #15202b;
	}
}


/* Global stylesheet */
* {
	box-sizing: border-box;
}

@view-transition {
	navigation: auto;
}

html,
body {
	padding: 0;
	margin: 0 auto;
	font-family: var(--font-family);
	color: var(--text-color);
	background-color: var(--background-color);
	height: 100%;
	max-width: 2600px;
}
html {
	overflow-y: scroll;
}
body {
	display: flex;
	flex-direction: column;
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden:not(:focus):not(:active) {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

/* Fluid images via https://www.zachleat.com/web/fluid-images/ */
img{
  max-width: 100%;
}
img[width][height] {
  height: auto;
}
img[src$=".svg"] {
  width: 100%;
  height: auto;
  max-width: none;
}
video,
iframe {
	width: 100%;
	height: auto;
}
iframe {
	aspect-ratio: 16/9;
}

p:last-child {
	margin-bottom: 0;
}
p {
	line-height: 1.5;
}

li {
	line-height: 1.5;
}

a[href] {
	color: var(--text-color-link);
}
a[href]:visited {
	color: var(--text-color-link-visited);
}
a[href]:hover,
a[href]:active {
	color: var(--text-color-link-active);
}

main {
	margin: 0 auto;
	max-width: 1440px;
	width: 100%
}

main,
footer {
	padding: 1rem;

}
.content {
	max-width: 90ch;
	margin: 0 auto;
	padding: 1rem 2rem;
	background-color: var(--background-color); 
}
footer {
	margin-top: auto;
	padding: 1rem 2rem;
	margin-right: 0;
	margin-left: auto;
}

header {
	border-bottom: 1px dashed var(--color-gray-20);
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 1em;
	max-width: 100%;
}
@media (min-width: 50em){
	header {
		flex-direction: row;
	}
}	
header>div {
	flex: 1;
	text-align: center;
}

#skip-link {
	text-decoration: none;
	background: var(--background-color);
	color: var(--text-color);
	padding: 0.5rem 1rem;
	border: 1px solid var(--color-gray-90);
	border-radius: 2px;
}

/* Prevent visually-hidden skip link fom pushing content around when focused */
#skip-link.visually-hidden:focus {
	position: absolute;
	top: 1rem;
	left: 1rem;
	/* Ensure it is positioned on top of everything else when it is shown */
	z-index: 999;
}

table {
	margin: 1em 0;
}
table td,
table th {
	padding-right: 1em;
}

pre,
code {
	font-family: var(--font-family-monospace);
}
pre:not([class*="language-"]) {
	margin: .5em 0;
	line-height: 1.375; /* 22px /16 */
	-moz-tab-size: var(--syntax-tab-size);
	-o-tab-size: var(--syntax-tab-size);
	tab-size: var(--syntax-tab-size);
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	overflow-x: auto;
}
code {
	word-break: break-all;
}

/* Header */
header {
	display: flex;
	gap: 1em;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 1em;
}
.home-link {
	flex-grow: 1;
	font-weight: 700;
}
.home-link:link:not(:hover) {
	text-decoration: none;
}
.logo {
	font-size: 2em; /* 16px /16 */
	font-weight: 700;
}

/* Nav */
.menu {
	font-size: large;
}

.nav {
	font-size: large;
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;
	justify-content: center;
}
.nav-item {
	display: inline-block;
	margin-right: 1em;
}
.nav-item a[href]:not(:hover) {
	text-decoration: none;
}
.nav a[href][aria-current="page"] {
	text-decoration: underline;
}
/* Social icons*/
nav ul,
ul.socials {
	padding: 0;
}
.nav-icon:hover path {
	fill: var(--accent);
}
svg.nav-icon {
	width: 100%;
	height: 30px;
}
.socials {
	display: flex;
}

/* Tags */
.post-tag {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-transform: capitalize;
	font-style: italic;
}
.postlist-item > .post-tag {
	align-self: center;
}

/* Tags list */
.post-metadata {
	display: inline-flex;
	flex-wrap: wrap;
	gap: 1em;
	list-style: none;
	padding-top: 2em;
}

/* Posts list */
.postlist-row {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
	gap: 1.5rem;
	justify-content: start;
	list-style-type: none;
	padding-left: 0;
}
.postlist-card {
	transition: 0.3s;
	list-style-type: none;
	align-items: center;
	padding-top: 55%;
	position: relative;
	width: 100%;
	overflow: hidden;
	box-shadow: 3px 3px 50px rgba(0, 0, 0, 0.301); 
	background-image: linear-gradient(to right, var(--accent-color), var(--accent-color2));
}
.postlist-card:hover {
 	transform: scale(1.05);
  	box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}
.card-overlay {
	display: flex;
	position: absolute;
	z-index: 1;
	right: 0;
	bottom: 0;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 100%;
	height: 100%;
	color: #fff;
	background-color: #00000080;
}
.card-img {
	position: absolute;
	z-index: 0;
	top: 50%;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transform: translateY(-50%);
}
/* Responsive media queries for cards */
/* @media screen and (max-width: 1000px) {
  .postlist-card {
    width: 40%;
  }
} */
@media screen and (max-width: 620px) {
  .postlist-card {
    width: 100%;
  }
}

/* Pagefind */
.explorer-grid .pf-results { /* Must be overriden with an id in the <pf-results> etc */
	flex-direction: row !important;
	flex-wrap: wrap !important;
}
.explorer-grid .pf-result {
	max-width: 40ch !important;
}
.explorer-results {
	overflow-y: auto;
}
/* This seems to be required to avoid the explorer to resize when filtered down */
main:has(.explorer-grid) {
	width: 100%;
}
.explorer-grid {
	display: grid;
	grid-template-columns: 1fr 3fr;
	gap: 10px;
}

@media screen and (max-width: 620px) {
  .explorer-grid {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.variations {
	margin-top: 3em;
}


.explorer-grid:not(#_):not(#_) .pf-result {
	background-image: url();
}

/* i18l dropdown */
.dropdown {
	position: relative;
	align-self: center;
}
.dropdown ul {
	display: none;
	position: absolute;
	list-style: none;
	margin: 0;
	padding: 0;
	background: var(--pf-background);
	border: 1px solid var(--pf-border);
	border-radius: var(--pf-border-radius);
}
.dropdown:hover ul {
	display: block;
}
.dropdown li {
	line-height: 1;
}
.dropdown li a {
	padding: 0.4rem 0.8rem;
	text-decoration: none;
	display: block;
	font-size: large;

}
.dropdown button {
	background: var(--pf-background);
	border: none;
	font-size: large;
	border: 1px solid var(--pf-border);
	border-radius: var(--pf-border-radius);
	height: var(--pf-input-height);
	cursor: pointer;
}

pagefind-modal-trigger {
	contain: style;
}