---
permalink: /index.html
eleventyNavigation:
  key: "Home"
  order: 1
---

	{% include "explorer.njk" %}


{# <pagefind-input placeholder="Recherche"></pagefind-input> #}


{# {% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}

<h1>Contenu récent</h1>

{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %} #}