---
pagination:
  data: i18n.languages
  size: 1
  alias: lang
  addAllPagesToCollections: true
eleventyComputed:
  permalink: "/{{ lang }}/"
  eleventyNavigation:
    key: "{{'accueil' | t | capitalize}}"
    order: 1
layout: layouts/home.njk
---
