---js
const eleventyNavigation = {
	key: "Home",
	order: 1
};

const numberOfLatestPostsToShow = 3;
---


<h1>Explorer</h1>
{# Search #}
{# Script #}
<link href="/pagefind/pagefind-component-ui.css" rel="stylesheet">
<script src="/pagefind/pagefind-component-ui.js" type="module"></script>
<pagefind-config faceted preload></pagefind-config>


<div class="explorer">

	<pagefind-filter-pane open="catégorie, forme caractéristique"></pagefind-filter-pane>

{# 	<pagefind-filter-dropdown filter="catégorie"></pagefind-filter-dropdown>
	<pagefind-filter-dropdown filter="forme caractéristique"></pagefind-filter-dropdown> #}
	<span>
		<pagefind-summary></pagefind-summary>
		<pagefind-results></pagefind-results>
	</span>
</div>



{# <pagefind-input placeholder="Recherche"></pagefind-input> #}


{# {% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}

<h1>Contenu récent</h1>

{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %} #}