{# ---
layout: layouts/postlisting.njk
eleventyNavigation:
  key: Mouvement
  order: 2
---
<h1>Mouvement</h1>

{% set postslist = collections.mouvement %}
{% include "postslist.njk" %}




Solution à implémenter pour filtrer; mais nécessite de trouver le moyen d'avoir seulement les résultats pour "mouvement":

<link href="/pagefind/pagefind-component-ui.css" rel="stylesheet">
<script src="/pagefind/pagefind-component-ui.js" type="module"></script>
<pagefind-config faceted preload></pagefind-config>
<pagefind-filter-dropdown filter="Forme caractéristique"></pagefind-filter-dropdown>
<pagefind-results show-images="true"></pagefind-results> #}