---
pagination:
  data: i18n.languages
  size: 1
  alias: lang
  addAllPagesToCollections: true
permalink: "/{{ lang }}/random/"
eleventyNavigation:
    key: "🎲"
    order: 7
eleventyComputed:
    title: '{{ "aléatoire" | t | capitalize }}'
layout: layouts/page.njk
script: "/random.js"
---
<noscript>
  Javascript is necessary to use this site. Alternatively, try <a href="/{{ lang }}/tags/">browsing manually</a>.
</noscript>

 {# It is possible to filter the collections further using  "| filterBy("level", ["f3", t])" #}
<script id="move-posts" type="application/json" eleventy:ignore>
  {% set posts = collections.mouvement | pageLang %}
  {% include "posts-json.njk" %}
</script>

<script id="training-posts" type="application/json" eleventy:ignore>
  {% set posts = collections.entrainement | pageLang %}
  {% include "posts-json.njk" %}
</script>

<div class="postlist-row">
  <div>
    <h2>{{"mouvement" | t | capitalize}} <button class="randomize" data-source="#move-posts" data-target="#random-move-card">🎲</button></h2>
      <div class="postlist-card" id="random-move-card">
          <a href="" id="random-move-link">
          <div class="card-header">
            <div class="card-overlay" id="random-move-title"></div>
            <img class="card-img" id="random-move-img" src="" alt="Cover image" sizes="300px" style="display:none">
          </div>
        </a>
      </div>
  </div>
  <div>
    <h2>{{"entrainement" | t | capitalize}} <button class="randomize" data-source="#training-posts" data-target="#random-training-card">🎲</button></h2>
      <div class="postlist-card" id="random-training-card">
        <a href="" id="random-training-link">
          <div class="card-header">
            <div class="card-overlay" id="random-training-title"></div>
            <img class="card-img" id="random-training-img" src="" alt="Cover image" sizes="300px" style="display:none">
          </div>
        </a>
      </div>
  </div>
</div>


<script src="{{ script }}"></script>