<h1>Explorer</h1>
<pagefind-config instance="explorer" faceted preload excerpt-length="0"></pagefind-config>

<div class="explorer-grid">
    <div class="box-filter" >
        <pagefind-input instance="explorer"></pagefind-input>
        <pagefind-summary instance="explorer"></pagefind-summary>
        <pagefind-filter-pane instance="explorer" open="{{ "catégorie" | t}}, {{"forme caractéristique" | t}}"></pagefind-filter-pane>
    </div>
    <div class="explorer-results">
        <pagefind-results instance="explorer" hide-sub-results show-images="false" id="explorer"></pagefind-results>
    </div>
</div>

