<h1>Explorer</h1>
{# Search #}
{# Script #}
{# <link href="/pagefind/pagefind-component-ui.css" rel="stylesheet"> #}
<script src="/pagefind/pagefind-component-ui.js" type="module"></script>
<pagefind-config faceted preload></pagefind-config>


<div class="explorer-grid" id="explorer-grid">
    <div class="box-filter" >
        <pagefind-input></pagefind-input>
        <pagefind-summary ></pagefind-summary>
        <pagefind-filter-pane open="catégorie, forme caractéristique"></pagefind-filter-pane>
        <pagefind-filter-dropdown filter="catégorie"></pagefind-filter-dropdown>
	    <pagefind-filter-dropdown filter="forme caractéristique"></pagefind-filter-dropdown>
    </div>
    <div>
    <pagefind-results show-images="true" id="explorer"></pagefind-results>



    </div>
</div>
