<section class="support-box">
<h2>🦉 {{"Soutenez ce projet" | t}}</h2>

  <p>
    {{"support_string" | t}}
  </p>

  <script eleventy:ignore src="https://liberapay.com/Senestres/widgets/button.js"></script>
  <noscript><a href="https://liberapay.com/Senestres/donate"><img alt="Donate using Liberapay" src="https://liberapay.com/assets/widgets/donate.svg"></a></noscript>
</section>