<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">
		<meta name="author" content="{{author or metadata.author.name}}">
		<link rel="alternate" href="/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
		<meta name="generator" content="{{ eleventy.generator }}">

		<link rel="canonical" href="{{ page.url | htmlBaseUrl(metadata.url) }}">

		{# open graph #}
		<meta property="og:url" content="{{ page.url | htmlBaseUrl(metadata.url) }}">
		<meta property="og:title" content="{{ title or metadata.title }}">
		<meta property="og:description" content="{{ description or metadata.description }}">
		{% set ogImage = metadata.url + "img/" + (coverImage if coverImage else "logo-socials.png") %}
		<meta property="og:image" content="{{ ogImage }}">
		<meta property="og:type" content="article">
		
		{#- favicons #}
		<link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
		<link rel="manifest" href="/img/favicon/site.webmanifest">

		{#- load pagefind #}
		<link href="/pagefind/pagefind-component-ui.css" rel="stylesheet">
		<script src="/pagefind/pagefind-component-ui.js" type="module"></script>

		{#- Add the contents of a file to the bundle #}
		<style>{% include "css/index.css" %}</style>

		{#- Render the CSS bundle using inlined CSS (for the fastest site performance in production) #}
		<style>{% getBundle "css" %}</style>

		{#- Add the heading-anchors web component to the JavaScript bundle #}
		<script type="module">{% include "node_modules/@zachleat/heading-anchors/heading-anchors.js" %}</script>
	</head>
	<body>
		<a href="#main" id="skip-link" class="visually-hidden">Skip to main content</a>

		<header>
			{% include "header.njk" %}
		</header>

		<main id="main">
			<heading-anchors>
				{{ content | safe }}
			</heading-anchors>
		</main>

		<footer>{% include "footer.njk" %}</footer>
	</body>
</html>
