---
layout: layouts/base.njk
---
{# Only include the syntax highlighter CSS on blog posts, included with the CSS per-page bundle #}
<style>{% include "node_modules/prismjs/themes/prism-okaidia.css" %}</style>
<style>{% include "css/prism-diff.css" %}</style>

{# Metadata for pagefind filters #}
	<meta data-pagefind-filter="catégorie:{{category or "aucune"}}">
{# 	<meta data-pagefind-filter="Forme caractéristique:{{fc or "aucune"}}"> #}
	{%- for f in fc %}
	<meta data-pagefind-filter="forme caractéristique:{{f}}">
	{%- endfor %}

<h1>{{ title }}</h1>

<ul class="post-metadata">
	<li><time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time></li>
	{%- for tag in tags | filterTagList %}
	{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
	<li><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>{%- if not loop.last %}, {% endif %}</li>
	{%- endfor %}
</ul>

<article data-pagefind-body>
{{ content | safe }}
</article>



{# This lists prerequisits and variations - Only if it exists in a collection #}
<ul class="links-nextprev">
	{%- for move in collections.mouvement %}

	{# check if this has prerequisits #}
		{% for requis in prerequis %}
			{%- if move.data.title | slugify == requis | slugify %}
				<li class="links-nextprev-prev">← Prérequis<br> <a href="{{ move.url }}">{{ move.data.title }}</a></li>
			{%- endif %}
		{% endfor %}

	{# check if this is required in another post #}
		{% for requis in move.data.prerequis %}

			{%- if title | slugify == requis | slugify %}
				<li class="links-nextprev-next">Variation →<br> <a href="{{ move.url }}">{{ move.data.title }}</a></li>
			{%- endif %}
		{% endfor %}

	{%- endfor %}
</ul>

{# {%- if collections.posts %}
{%- set previousPost = collections.posts | getPreviousCollectionItem %}
{%- set nextPost = collections.posts | getNextCollectionItem %}
{%- if nextPost or previousPost %}
<ul class="links-nextprev">
	{%- if previousPost %}<li class="links-nextprev-prev">← Previous<br> <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></li>{% endif %}
	{%- if nextPost %}<li class="links-nextprev-next">Next →<br><a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></li>{% endif %}
</ul>
{%- endif %}
{%- endif %} #}
