---
layout: layouts/base.njk
eleventyComputed:
  description: "Apprendre et enseigner le parkour - {{ title }}"
---
{# Only include the syntax highlighter CSS on blog posts, included with the CSS per-page bundle #}
<style>{% include "node_modules/prismjs/themes/prism-okaidia.css" %}</style>
<style>{% include "css/prism-diff.css" %}</style>

{# Metadata for pagefind filters #}
	<meta data-pagefind-filter="catégorie:{{categories or "aucune"}}">
{# 	<meta data-pagefind-filter="Forme caractéristique:{{fc or "aucune"}}"> #}
	{%- for f in fc %}
	<meta data-pagefind-filter="forme caractéristique:{{formesCaracteristiques[f].emoji}} {{f}}">
	{%- endfor %}

<div class="content">
<h1>{{ title }}</h1>
<div><b>Formes caractéristiques:</b> {% for f in fc %} <a href="/tags/{{f | slugify}}/">{{f}}</a>{%- if not loop.last %}, {% endif %} {% endfor %}</div>
{% if aliases %}
	<div data-pagefind-body><b>Alias: </b>{%- for alias in aliases %}{{alias}}{%- if not loop.last %}, {% endif %}{%- endfor %}</div>
{% endif %}

{# Add an if check for img or video ? and img needs styling #}
{% if coverImage == true %}
	<img src="/img/{{title | slugify}}.jpg" alt="No image">	
{% endif %}
{% if video %}
	<h2>Vidéo</h2>
	<div class="eleventy-plugin-youtube-embed">
		<iframe  width="100%" height="100%" 
		frameborder="0" title="Embedded YouTube video" src="https://www.youtube-nocookie.com/embed/{{video}}"
		allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; 
		picture-in-picture; web-share" allowfullscreen=""></iframe>
	</div>
	<div data-pagefind-meta="image[src], image_alt[alt]" src="https://img.youtube.com/vi/{{ video }}/hqdefault.jpg" alt=""cover image></div>
{% endif %}

<article data-pagefind-body>
	{{ content | safe }}
</article>

<section class="variations">
{# Check if there are variations and foundations #}
{% set foundations = [] %}
{% set variations = [] %}

{%- for move in collections.mouvement %}
  	{% if prerequis %} {# creates problems if a file has no prerequis but has variations #}
		{% for requis in prerequis %}
			{% if move.data.title | slugify == requis | slugify %}
				{% set foundations = foundations.concat([move]) %}
			{% endif %}
		{% endfor %}
	{% endif %}
	{% if move.data.prerequis %}
			{% for requis in move.data.prerequis %}
		{% if title | slugify == requis | slugify %}
			{% set variations = variations.concat([move]) %}
		{% endif %}
		{% endfor %}
	{% endif %}
{%- endfor %}

{# build list of foundations #}
{% if foundations | length %}
	<h2>Prérequis</h2>
	{% set postslist = foundations %}
	{% include "postslist.njk" %}
{% endif %}

{# build list of variations #}
{% if variations | length %}
  <h2>Variations</h2>
	{% set postslist = variations %}
	{% include "postslist.njk" %}
{% endif %}

<div class="post-metadata">
	<div><b>Date: </b><time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate("dd LLLL yyyy") }}</time></div>
	{% if authors | length %}
			<div><b>Auteur: </b>{% for author in authors %}{{author}}{% endfor %}</div> {# should work with mult authors #}
	{% endif %}
	<div><b>Tags: </b>
		{%- for tag in tags | filterTagList %}
		{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
		<a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>{%- if not loop.last %}, {% endif %}
		{%- endfor %}
	</div>
</div>

</section>

</div>