---
layout: layouts/base.njk
eleventyComputed:
  description: "{{metadata.description[lang]}} - {{ title }}"
---
{# Only include the syntax highlighter CSS on blog posts, included with the CSS per-page bundle #}
<style>{% include "node_modules/prismjs/themes/prism-okaidia.css" %}</style>
<style>{% include "css/prism-diff.css" %}</style>

{# Metadata for pagefind filters #}
	<meta data-pagefind-filter="{{ "catégorie" | t }}:{{ i18n[categories][page.lang] | capitalize}}">
	{%- for f in fc %}
		<meta data-pagefind-filter="{{ "forme caractéristique"| t }}:{{i18n[f].emoji}} {{i18n[f][page.lang] | capitalize}}">
	{%- endfor %}
	{% if level | length %}
		{%- for l in level %}
			<meta data-pagefind-filter="{{ "niveau"| t }}:{{ i18n.niveaux[l].emoji }} {{ i18n.niveaux[l].short | upper }}">
		{%- endfor %} 
	{% else %}
		<meta data-pagefind-filter="{{ "niveau"| t }}:{{ i18n.niveaux["f2"].emoji }} {{ i18n.niveaux["f2"].short | upper }}">
	{% endif %}

<div class="content">
	<div class="post-header">
		<div>
			<h1>{{ title }}</h1>
			<div>
				<b>{{"formes caractéristiques" | t | capitalize }}:</b>
				{% for f in fc %}<a href="{{ ("/tags/" + (f | slugify) + "/") | locale_url }}">{{i18n[f][page.lang]}}</a>
				{%- if not loop.last %}, {% endif %} {% endfor %}
			</div>
		</div>
		<img src="{{ page.url | htmlBaseUrl(metadata.url) | qrcode }}" alt="QR code for this URL." height="100px" class="qrcode">
	</div>

{% set filteredAliases = [] %} {# This filters out the title from the list of aliases #}
{% for alias in aliases %}
	{% if alias | slugify !== title | slugify %}
		{% set filteredAliases = filteredAliases.concat([alias]) %}
	{% endif %}
{% endfor %}

{% if filteredAliases | length %}
	<div data-pagefind-body><b>{{"alias" | t | capitalize}}: </b>
		{%- for alias in filteredAliases -%}
		{%- if alias | slugify !== title | slugify -%}
			{{alias}}
		{%- endif -%}
		{%- if not loop.last %}, {% endif %}
		{%- endfor %}</div>
{% endif %}

{# We can use coverImage here; but should distinguish cosmetic from useful images #}
{# {% if coverImage %}
	<p><img src="/img/{{ coverImage }}" alt="Cover image"></p>
{% endif %} #}

{% if video or vimeo %}
	<h2>{{"vidéo" | t | capitalize}}</h2>
{% endif %}

{% macro consentOverlay() %}
{# 	<button class="video-play">▶</button> #}
	<div class="video-consent-overlay">
		<p>{{"Cette vidéo est hébergée par un service externe (YouTube/Vimeo) susceptible de déposer des traceurs sur votre appareil." | t}}</p>
		<div class="video-consent-buttons">
		<button class="video-consent-yes">{{"accepter" | t | capitalize }}</button>
		<button class="video-consent-no">{{"refuser" | t | capitalize }}</button>
		</div>
	</div>
{% endmacro %}


{% if video %}
	<div class="no-print">
		<div class="video-wrapper no-print" data-src="https://www.youtube-nocookie.com/embed/{{ video }}?autoplay=1&rel=0">
			<img class="no-print" src="https://img.youtube.com/vi/{{ video }}/maxresdefault.jpg" onerror="this.src='https://img.youtube.com/vi/{{ video }}/hqdefault.jpg'" alt="{{ title }}" size="800">
			{# 	<div class="no-print" data-pagefind-meta="image[src], image_alt[alt]" src="https://img.youtube.com/vi/{{ video }}/hqdefault.jpg" alt=""cover image></div> #}
			{{ consentOverlay() }}
		</div>		
	</div>
	<img class="print-only" src="https://img.youtube.com/vi/{{ video }}/maxresdefault.jpg" onerror="this.src='https://img.youtube.com/vi/{{ video }}/hqdefault.jpg'" alt="{{ title }}" size="800" width="300">
{% endif %}

{% if vimeo %}
	<div class="no-print">
		<div class="video-wrapper" data-src="https://player.vimeo.com/video/{{ vimeo }}?autoplay=1&dnt=1">
			<img src="https://vumbnail.com/{{ vimeo }}.jpg" alt="{{ title }}">
		{{ consentOverlay() }}
		</div>		
	</div>
	<div class="print-only">	<img src="https://vumbnail.com/{{ vimeo }}.jpg" alt="{{ title }}" width="300"></div>
{% endif %}

<article data-pagefind-body>
	{{ content | safe }}
</article>

<section class="variations">
	{# Check if there are variations and foundations #}
	{% set foundations = [] %}
	{% set variations = [] %}
	{% set progressions = [] %}

	{%- for move in collections.mouvement %}
		{%- if prerequis %}
			{%- for requis in prerequis %}
				{%- if move.fileSlug | slugify == requis | slugify %}
					{%- set foundations = foundations.concat([move]) %}
				{%- endif %}
			{%- endfor %}
		{%- endif %}
		{%- if move.data.prerequis %}
			{%- for requis in move.data.prerequis %}
				{%- if page.fileSlug | slugify == requis | slugify %}
					{%- set variations = variations.concat([move]) %}
				{%- endif %}
			{%- endfor %}
		{%- endif %}
	{%- endfor %}

	{%- for post in collections.progression %}
			{%- if post.data.progression %}
			{%- for name in post.data.progression %}
				{%- if page.fileSlug | slugify == name | slugify %}
					{%- set progressions = progressions.concat([post]) %}
				{%- endif %}
			{%- endfor %}
		{%- endif %}
	{%- endfor %}

	{# build list of progressions #}
	{% if progressions | length %}
		<h2>{{"progression" | t | capitalize}}</h2>
		{% set postslist = progressions %}
		{% include "postslist.njk" %}
	{% endif %}


	{# build list of foundations #}
	{% if foundations | length %}
		<h2>{{"prérequis" | t | capitalize}}</h2>
		{% set postslist = foundations %}
		{% include "postslist.njk" %}
	{% endif %}

	{# build list of variations #}
	{%- if variations | length -%}
	<h2>{{"variations" | t | capitalize}}</h2>
		{% set postslist = variations %}
		{% include "postslist.njk" -%}
	{%- endif -%}

	<div class="post-metadata">
		<div><b>{{"date" | t | capitalize}}: </b><time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate(page.lang) }}</time></div>
		{% if authors | length %}
				<div><b>{{"auteur" | t | capitalize}}: </b>{% for author in authors %}{{author}}{% endfor %}</div> {# should work with mult authors #}
		{% endif %}
		<div><b>Tags: </b>
			{%- for tag in tags | filterTagList %}
			{%- set tagUrl %}{{ ("/tags/" + (tag | slugify) + "/") | locale_url }}{% endset %}
			<a href="{{ tagUrl }}" class="post-tag">{{ tag | t }}</a>{%- if not loop.last %}, {% endif %}
			{%- endfor %}
		</div>
	</div>

</section>
	{# {% include "_includes/support.njk" %} #}
</div>
