{# <pagefind-config instance="instance1" excerpt-length="0"></pagefind-config>
<pagefind-config instance="instance2"></pagefind-config>

<pagefind-input instance="instance1"></pagefind-input>
<pagefind-results instance="instance1"></pagefind-results>


<pagefind-input instance="instance2"></pagefind-input>
<pagefind-results instance="instance2"></pagefind-results> #}