
{# 
<li class="pf-result">
  <div class="pf-result-card">
    
    <div class="pf-result-content">
      <p class="pf-result-title">
        <a class="pf-result-link" href="/mouvement/securite-arriere-securite-avant-dorsal/">Sécurité arrière-sécurité avant (dorsal)</a>
      </p>
      
      <p class="pf-result-excerpt">Description. Passement de sécurité <mark>arrière</mark> enchaîné <mark>avec</mark> un passement de sécurité <mark>avant,</mark> en tournant le dos <mark>à</mark> l'obstacle (pont). Remarques. Similaire <mark>à</mark> une roulade <mark>assise.</mark></p>
      
    </div>
  </div>
  
  <ul class="pf-heading-chips">
    
    <li class="pf-heading-chip">
      <a class="pf-heading-link" href="/mouvement/securite-arriere-securite-avant-dorsal/#description">Description</a>
      <p class="pf-heading-excerpt">Description. Passement de sécurité <mark>arrière</mark> enchaîné <mark>avec</mark> un passement de sécurité <mark>avant,</mark> en tournant le dos <mark>à</mark> l'obstacle (pont).</p>
    </li>
    
    <li class="pf-heading-chip">
      <a class="pf-heading-link" href="/mouvement/securite-arriere-securite-avant-dorsal/#remarques">Remarques</a>
      <p class="pf-heading-excerpt">Remarques. Similaire <mark>à</mark> une roulade <mark>assise.</mark></p>
    </li>
    
  </ul>
  
</li> #}